In [ ]:
"""Conditions and loops in python."""

## Условия и циклы. Продолжение

### Еще раз про условия с if

Множественные условия (multi-way decisions)

In [1]:
# импортируем типы Iterable и Union из typing
from typing import Iterable, Union

# импортируем библиотеку numpy
import numpy as np

# напишем программу, которая разобьет все числа на малые, средние и большие

v_var: int = 42  # зададим число

# и пропишем условия (не забывайте про двоеточие и отступ)
if v_var < 10:
    print("Small")
elif v_var < 100:
    print("Medium")
else:
    print("Large")

Medium

In [2]:
# запросим число у пользователя
user_input_1: str = input("Введите число: ")

# преобразуем в тип int
w_var: int = int(user_input_1)

# и наконец классифицируем
if w_var < 10:
    print("Small")
elif w_var < 100:
    print("Medium")
else:
    print("Large")

Small

Вложенные условия (nested decisions)

In [3]:
# запрашиваем число
user_input_2: str = input("Введите число: ")

# проверяем первое условие (не пустая ли строка), если оно выполняется
if len(user_input_2) != 0:

    # преобразуем в тип int
    x_var: int = int(user_input_2)

    # и классифицируем
    if x_var < 10:
        print("Small")
    elif x_var < 100:
        print("Medium")
    else:
        print("Large")

# в противном, говорим, что ввод пустой
else:
    print("Ввод пустой")

Small

Несколько условий в одном выражении с операторами and или or

In [4]:
# пример с and (логическим И)
y_var: int = 42

# если z больше 10 и одновременно меньше 100
if 10 < y_var < 100:

    # у нас среднее число
    print("Medium")

# в противном случае оно либо маленькое либо большое
else:
    print("Small or Large")

Medium

In [5]:
# пример с or (логическим ИЛИ)
z_var: int = 2

# если z меньше 10 или больше 100
if z_var < 10 or z_var > 100:

    # оно либо маленькое либо большое
    print("Small or Large")

# в противном случае оно среднее
else:
    print("Medium")

Small or Large

Проверка вхождения элемента в объект с in / not in

In [6]:
# можно проверить вхождение слова в строку
sentence: str = "To be, or not to be, that is the question"
word: str = "question"

if word in sentence:
    print("Слово найдено")

Слово найдено

In [7]:
# или отсутствие элемента в списке
number_list_1: list[int] = [2, 3, 4, 6, 7]
number: int = 5

if number not in number_list_1:
    print("Такого числа в списке нет")

Такого числа в списке нет

In [8]:
# кроме того, можно проверить вхождение ключа и значения в словарь

# возьмем очень простой словарь
grocery_items_1: dict[str, int] = {"apple": 3, "tomato": 6, "carrot": 2}

In [9]:
# вначале поищем яблоки среди ключей словаря
if "apple" in grocery_items_1:
    print("Нашлись")

Нашлись

In [10]:
# а затем посмотрим, нет ли числа 6 среди его значений
# с помощью метода .values()
if 6 in grocery_items_1.values():
    print("Есть")

Есть

### Циклы в Питоне

#### Цикл for

##### Основные операции

In [11]:
# поочередно выведем элементы списка
number_list_2: list[int] = [1, 2, 3]

# не забывая про двоеточие и отступ
for number in number_list_2:
    print(number)

1
2
3

In [12]:
# создадим словарь, значениями которого будут списки из двух элементов
grocery_items_2: dict[str, list[Union[int, str]]] = {
    "apple": [3, "kg"],
    "tomato": [6, "pcs"],
    "carrot": [2, "kg"],
}

In [13]:
# затем создадим две переменные-контейнера и применим метод .items()
for key, value in grocery_items_2.items():
    print(key, value)

apple [3, 'kg']
tomato [6, 'pcs']
carrot [2, 'kg']

In [14]:
# создадим массив и поместим в переменную number_array
number_array: Iterable[int] = np.array([1, 2, 3])

# пройдемся по нему с помощью цикла for
for number in number_array:
    print(number)

1
2
3

In [15]:
# предположим, что у нас есть следующая база данных клиентов
clients_1: dict[int, dict[str, Union[str, int]]] = {
    1: {"name": "Анна", "age": 24, "sex": "male", "revenue": 12000},
    2: {"name": "Илья", "age": 18, "sex": "female", "revenue": 8000},
}

In [16]:
# в первом цикле for поместим id и информацию о клиентах в переменные id и info
for client_id, info in clients_1.items():

    # выведем id клиента
    print("client ID: " + str(client_id))

    # во втором цикле возьмем информацию об этом клиенте (это тоже словарь)
    for key_s, value_s in info.items():

        # и выведем каждый ключ (название поля) и значение (саму информацию)
        print(key_s + ": " + str(value_s))

    # добавим пустую строку после того, как выведем информацию об одном клиенте
    print()

client ID: 1
name: Анна
age: 24
sex: male
revenue: 12000

client ID: 2
name: Илья
age: 18
sex: female
revenue: 8000

##### Функция range()

In [17]:
# создадим последовательность от 0 до 4
for i in range(5):
    print(i)

0
1
2
3
4

In [19]:
# от 1 до 5
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [20]:
# и от 0 до 5 с шагом 2 (то есть будем выводить числа через одно)
for i in range(0, 6, 2):
    print(i)

0
2
4

In [ ]:
# возьмем месяцы года
months: list[str] = [
    "Январь",
    "Февраль",
    "Март",
    "Апрель",
    "Май",
    "Июнь",
    "Июль",
    "Август",
    "Сентябрь",
    "Октябрь",
    "Ноябрь",
    "Декабрь",
]

# и продажи мороженого в тыс. рублей в каждый из месяцев
sales: list[int] = [47, 75, 79, 94, 123, 209, 233, 214, 197, 130, 87, 55]

# задав последовательность через range(len()),
# for i in range(len(months)):

# мы можем вывести каждый из элементов обоих списков в одном цикле
# print(months[i], sales[i])

# Примечание 1: по рекомендации линтера nbqa-pylint вместо range и len
# использована функция enumerate:
for i, month in enumerate(months):
    print(month, sales[i])

Январь 47
Февраль 75
Март 79
Апрель 94
Май 123
Июнь 209
Июль 233
Август 214
Сентябрь 197
Октябрь 130
Ноябрь 87
Декабрь 55

Последовательность в обратном порядке

**Способ 1**. Функция reversed()

In [24]:
# создадим список
my_list: list[int] = [0, 1, 2, 3, 4]

# передадим его функции reversed() и
# выведем каждый из элементов списка с помощью цикла for
for i in reversed(my_list):
    print(i)

4
3
2
1
0

In [25]:
for i in reversed(range(5)):
    print(i)

4
3
2
1
0

**Способ 2**. Указать $-1$ в качестве параметра шага

In [26]:
# первым параметром укажем
# конечный элемент списка,
# а вторым - начальный
for i in range(4, 0, -1):
    print(i)

4
3
2
1

**Способ 3**. Функция sorted()

In [27]:
# создадим последовательность от 0 до 4
r_var: range = range(5)

# отсортируем ее по убыванию
sorted_values: list[int] = sorted(r_var, reverse=True)

# выведем элементы отсортированной последовательности
for i in sorted_values:
    print(i)

4
3
2
1
0

##### Функция enumerate()

In [28]:
# пусть дан список с днями недели
days_1: list[str] = [
    "Понедельник",
    "Вторник",
    "Среда",
    "Четверг",
    "Пятница",
    "Суббота",
    "Воскресенье",
]

# выведем индекс (i) и сами элементы списка (day)
for i, day in enumerate(days_1):
    print(i, day)

0 Понедельник
1 Вторник
2 Среда
3 Четверг
4 Пятница
5 Суббота
6 Воскресенье

In [29]:
# так же выведем индекс и элементы списка, но начнем с 1
for i, day in enumerate(days_1, 1):
    print(i, day)

1 Понедельник
2 Вторник
3 Среда
4 Четверг
5 Пятница
6 Суббота
7 Воскресенье

#### Цикл while

In [30]:
# зададим начальное значение счетчика
tally_1: int = 0

# пока счетчик меньше трех
while tally_1 < 3:

    # в каждом цикле будем выводить его текущее значение
    print("Текущее значение счетчика:  " + str(tally_1))

    # внутри цикла не забудем "нарастить" счетчик
    tally_1 = tally_1 + 1

    # и выведем новое значение
    print("Новое значение счетчика:    " + str(tally_1))

    # добавим пустую строку
    print()

Текущее значение счетчика:  0
Новое значение счетчика:    1

Текущее значение счетчика:  1
Новое значение счетчика:    2

Текущее значение счетчика:  2
Новое значение счетчика:    3

In [31]:
# тот же код можно упростить
tally_2: int = 0

while tally_2 < 3:
    print(tally_2)
    # в частности, оператор += сразу увеличивает и присваивает новое значение
    tally_2 += 1

0
1
2

#### Break, continue

Оператор break

In [ ]:
# вновь возьмем словарь clients
clients_2: dict[int, dict[str, Union[str, int]]] = {
    1: {"name": "Анна", "age": 24, "sex": "male", "revenue": 12000},
    2: {"name": "Илья", "age": 18, "sex": "female", "revenue": 8000},
}

# в цикле пройдемся по ключам и значениям словаря
for client_id, info in clients_2.items():

    # и выведем их
    print(client_id, info)

    # однако уже после первого исполнения цикла, прервем его
    break

1 {'name': 'Анна', 'age': 24, 'sex': 'male', 'revenue': 12000}

In [33]:
# начальное значение счетчика
tally_3: int = 6

# будем исполнять цикл пока x не равен нулю
while tally_3 != 0:

    # выведем текущее значение счетчика
    print(tally_3)

    # и уменьшим (!) его на 1
    tally_3 -= 1

    # если значение счетчика станет равным 3, прервем цикл
    if tally_3 == 3:
        break

6
5
4

Оператор continue

In [38]:
# выведем все четные числа в диапазоне от 1 до 10 включительно.

# с помощью функции range() создадим последовательность от 1 до 10
for i in range(1, 11):

    # если остаток от деления на два не равен нулю (то есть число нечетное)
    if i % 2 != 0:

        # идем к следующему числу последовательности
        continue

    # в противном случае выводим число
    print(i)

2
4
6
8
10

#### Форматирование строк через f-строки и метод .format()

In [35]:
# снова возьмем список с днями недели
days_2: list[str] = [
    "Понедельник",
    "Вторник",
    "Среда",
    "Четверг",
    "Пятница",
    "Суббота",
    "Воскресенье",
]

# и для простоты поместим слово "Понедельник" в переменную Monday
Monday: str = days_2[0]
Monday

'Понедельник'

In [36]:
# теперь напишем фразу "Понедельник - день тяжелый"
# следующим образом
print(f"{Monday} - день тяжелый")

Понедельник - день тяжелый

In [ ]:
# то же самое можно вывести с помощью метода .format()
# print("{} - день тяжелый".format(Monday))

# Примечание 2: линтер nbqa-pylint f-строку вместо .format().

Понедельник - день тяжелый

### Ответы на вопросы к занятию

**Вопрос**. Можно ли использовать цикл while с функцией range()?

In [ ]:
# с функцией range() можно использовать цикл while,
# но такое решение не оптимально
# приведем пример с while

tally_4: int = 1  # создадим счетчик

# пока счетчик в диапазоне от 1 до 10
while tally_4 in range(1, 11):
    # выведем его значение и
    print("Значение счетчика ", tally_4)
    tally_4 += 1  # увеличим счетчик на 1

Значение счетчика  1
Значение счетчика  2
Значение счетчика  3
Значение счетчика  4
Значение счетчика  5
Значение счетчика  6
Значение счетчика  7
Значение счетчика  8
Значение счетчика  9
Значение счетчика  10

In [41]:
# оптимизированный вариант кода
for i in range(1, 11):
    print("Значение счетчика ", i)

Значение счетчика  1
Значение счетчика  2
Значение счетчика  3
Значение счетчика  4
Значение счетчика  5
Значение счетчика  6
Значение счетчика  7
Значение счетчика  8
Значение счетчика  9
Значение счетчика  10

**Вопрос**. Можно ли обойтись без оператора continue в приведенном на занятии примере?

In [40]:
for i in range(1, 11):
    # если число четное, выведем его
    if i % 2 == 0:
        print(i)

2
4
6
8
10